@font-face {
  font-family: "BwModelica";
  src: local("BwModelica"),
    url(../public/fonts/BwModelica-Bold.otf) format("truetype");
}
@font-face {
  font-family: "LatoRegular";
  src: local("LatoRegular"),
    url(../public/fonts/LatoRegular.ttf) format("truetype");
}
@font-face {
  font-family: "MilkyNiceClean";
  src: local("MilkyNiceClean"),
    url(../public/fonts/MilkyNiceClean.otf) format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  :root {
    --input-color: #2f4475;
    --first-color : #01afea;
    --second-color: #223877;
    --third-color: #354e9f;
    --BwModelica: BwModelica, sans-serif;
    --LatoRegular: LatoRegular, sans-serif;
    --MilkyNiceClean: MilkyNiceClean, sans-serif;
  }

  /*fix h screen in mobile*/

  html,boby{
    height: -webkit-fill-available;
  }

  /* fonts */
  .font_BwModelica {
    font-family: var(--BwModelica);
  }
  .font_LatoRegular {
    font-family: var(--LatoRegular);
  }
  .font_MilkyNiceClean {
    font-family: var(--MilkyNiceClean);
  }

  /* text color */
  .first_color{
    color: var(--first-color)
  }
  .third_color{
    color: var(--third-color)
  }

  /* bg color */
  .bg_color_first{
    background: var(--input-color);
  }
  .bg_color_third{
    background: var(--third-color);
  }

  /* carousel1 */
  .carousel1 .control-arrow {
    height: 50px !important;
    margin-top: -25px !important;
    top: 50% !important;
  }
  .carousel1 .control-arrow:hover {
    background-color: transparent !important;
  }
  .carousel1 .control-arrow:before {
    border-top: 20px solid transparent !important;
    border-bottom: 20px solid transparent !important;
  }
  .carousel1 .control-prev.control-arrow:before {
    border-right: 20px solid #fff !important;
  }
  .carousel1 .control-next.control-arrow:before {
    border-left: 20px solid #fff !important;
  }

  /*video*/
  .video iframe,
  .video object,
  .video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  /* z-index */
  .z-60 {
    z-index: 60;
  }
  /*text-border*/
  .text-shadow {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
  /* shadow */
  .shadow_card_results{
    box-shadow: 0 15px 0 0 var(--second-color);
  }
  /* width */
  .w_loop{
    width: 2rem !important;
  }
  .fullvh{
    height: calc(var(--vh, 1vh) * 100);
  }
}
